#home-section {
    background-image: url(../img/home_background.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-origin: content-box;
    background-attachment: fixed;
    background-size: 100%;

    opacity: 0.6;

    position: relative;
}

.home-wrapper {
    position: absolute;
    top: 200px;
    bottom: 200px;
    left: 20%;

    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */

    height: 60%;
    width: 60%;
}

.home-wrapper p {
    text-align: center;
}
